.container {
	width: 80%;
	text-align: justify;
}

body {
  background: #eee;
}

div.main{
	width:70%;
}
	

#header {
	padding-top: 20px;
	background-image: url("/images/header_back.png");
	background-repeat: no-repeat;
}

#header img {
  padding: 1em;
  background: #fff;
}

#publicidade{
	float: right;
}

#content {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;	
	-moz-border-radius:    7px;
	-webkit-border-radius: 7px;
}

/* Links */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

a:visited {
  color: #669;
}


/* Navigation */

.navigation {
  float: right;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
	margin: 0;
	list-style: inline;
}


ul.navigation li {
	position: relative;
	list-style-type: none;
	display: inline;
	padding: 0.2em 0;
}

/*

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

.navigation li a:visited {
  color: #666;
}

.navigation li a:hover {
  text-decoration: underline;
}

.navigation li:hover ul { 
	display: inline; 
}



/*SubMenu nagecacao*/

.navigation li ul{
	position: absolute;
	left: -50px;
}



.navigation ul li{
	display: none;
	top: 5px;

}

.navigation ul li a{/*formatacao dos itens de submenu*/
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 3px;
	border: 1px solid #333;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

.navigation li:hover ul li{/* essa regra que faz o submenu aparecer*/
	display: block; 
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #666;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}


/* logotipo */

.logo {
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
}

/*rodape*/
#rodape {
	text-align: center;
	margin-top: 10px;
}

#rodape .navigation{
	float: none;
}


/*página que exibe o usuario*/

div.usuario_info{
	border: 1px solid #000;
	width: 30%;
}

div.frente div.main{
	width:70%;
}

div.profile{
	width: 100%;
	margin-bottom: 0;
}

div.main{
	width: 80%;
	padding: 1em;
}

div.sidebar{
	width: 20%;
	float: right;
	padding: 10px;
	margin: 15px;
	vertical-align: top;
	background: #ccc;
	color: #f00;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
}


div.sidebar a{
	color: #f60;
}

div.gravatar{
	float: left;
	margin: 5px;
}

.documentos img.gravatar{
	margin-bottom: 5px;
	vertical-align: bottom;
}


/*formulario*/
div.campoTexto, div.actions {
	margin-bottom: 10px;
}

input{
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

textarea{
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}

/*erros do formulario*/
.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/*lista de usuairos*/
ul.usuarios {
	margin-top: 1em;
}

.usuarios li{
	list-style: none;
}



/* estilo dos microposts*/

h2.micropost {
  margin-bottom: 0;
}

span.microposts tr {
  height: 70px;
}

div.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}


/*Tabelas*/
table th{
	background-color: #666;
	color: #fff;
	padding-left: 20px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
table td{
	background-color: #eee;
	color: #666;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
}

table.microposts tr td.micropost span.tempo {
  display: block;
  font-size: 85%;
  color: #666;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}


/* Usuarios */

div.usuario_info{
	width: 100%;
}

div.usuario_info img {
	padding-right: 0.1em;
	float:left;
}

div.usuario_info a {
  text-decoration: none;
}

div.usuario_info div.usuario_nome {

}

div.usuario_info div.usuario_docs {
  font-size: 80%;
	text-align:right;
}



/* Documentos */

div.documentos{
	border: 1px solid #000;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	height: 95px;
	width: 100%;
}

div.assunto{
	float: left;
	width:90%;
	text-align: right;
}

div.tempo{
	float: left;
	width: 90%;
	text-align:right;
}

div.editar_documento a{
	margin: 10px;
	color: #f00;
	float: right;
}


/*Estido dos botoes*/
a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
	-moz-border-radius:    8px;
	-webkit-border-radius: 8px;
}

button.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}