<h1>Documento</h1>
<p> Exemplo de Documento </p>

<form>
	<input type="textfield">
	<br>
	<input type="textfield">
	<br>
	<textarea></textarea>
	<br>
	<input type="submit">
	<input type="reset">
</form>