<h1>Sobre</h1>
<p>O Sistema GDE(Gerenciamento de Documentos Eletr&ocirc;nicos) utilizar&aacute; apenas documentos eletr&ocirc;nicos com formatos abertos. O seu c&oacute;digo fonte estar&aacute; dispon&iacute;vel para qualquer pessoa interessada. Ser&aacute; utilizado via web e possuir&aacute; uma interface acess&iacute;vel para deficientes visuais.</p>
<p>Este sistema utiliza a biblioteca <a href="http://github.com/sandrods/odf-report" target="_blank"> odf-report </a>. Geradora de arquivos ODF atrav&eacute;z de um modelo substituindo tags.<a href="http://github.com/sandrods/odf-report#readme"> Leia mais.</a></p>

	Endere&ccedil;o eletr&ocirc;nico:
	
		<a href="http://sistemagde.heroku.com" target="_blank">http://sistemagde.heroku.com</a>