<h2>Lista de Usuarios</h2>

<!-- chamda pra paginacao-->
<%= will_paginate %>


<ul class="usuarios">
	
	<%= render @usuarios %>
	
</ul>

<!-- chamda pra paginacao-->
<%= will_paginate %>

<%= link_to "Gerar Listagem de Usu&aacute;rios", '/lista_usuarios' %>